<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage/>
  <testsuites>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_KEY" value="base64:17D5MHqbPTIPEHCFqyaari5C7wKMoSceYyvwEXorYuI="/>
    <env name="APP_ENV" value="testing"/>
    <env name="DB_CONNECTION" value="testing"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>
    <env name="DB_FOREIGN_KEYS" value="true" />

    <env name="IS_CONNECTION" value="testing" />
    <env name="IS_TABLES_ROLES" value="roles" />
    <env name="IS_TABLES_ROLEABLES" value="roleables" />
    <env name="IS_RELATIONS_ROLEABLE" value="roleable" />
    <env name="IS_PRIMARY_KEY" value="id" />
    <env name="IS_MODELS_ROLE" value="dmitryrogolev\Is\Tests\Models\Role" />
    <env name="IS_MODELS_ROLEABLE" value="dmitryrogolev\Is\Models\Roleable" />
    <env name="IS_MODELS_USER" value="dmitryrogolev\Is\Tests\Models\User" />
    <env name="IS_FACTORIES_ROLE" value="dmitryrogolev\Is\Database\Factories\RoleFactory" />
    <env name="IS_SEEDERS_ROLE" value="dmitryrogolev\Is\Database\Seeders\RoleSeeder" />
    <env name="IS_USES_UUID" value="true" />
    <env name="IS_USES_SOFT_DELETES" value="true" />
    <env name="IS_USES_TIMESTAMPS" value="true" />
    <env name="IS_USES_MIGRATIONS" value="true" />
    <env name="IS_USES_SEED" value="true" />
    <env name="IS_USES_BLADE" value="true" />
    <env name="IS_USES_MIDDLEWARES" value="true" />
    <env name="IS_USES_LOAD_ON_UPDATE" value="true" />
    <env name="IS_USES_EXTEND_IS_METHOD" value="true" />
    <env name="IS_USES_LEVELS" value="true" />
  </php>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
